.form-container {
    margin: auto;
    width: 90%;
    padding-top: 30px;
    overflow: auto;
    }

.card-container {
    width: 90%; 
    margin: auto;  
  }

.result-container{
    padding-top: 25px;    
}

.result{
    font-size: large;
    color: blue;    
}

